@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: spaceGrotesk;
  src: url(../public/font/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

@layer base {
  html {
    font-family: spaceGrotesk;
  }

  .background {
    @apply bg-[url('..public/images/bg-main-mobile.png')] bg-contain;
  }

  @media (min-width: 1024px) {
    .background {
      @apply h-screen bg-[url('..public/images/bg-main-desktop.png')] bg-auto bg-repeat-y;
    }
  }
}

@layer components {
  label {
    @apply text-body font-bold uppercase text-violet;
  }

  .box {
    @apply border-mischka;
  }

  .box-error {
    @apply border-sunset_orange;
  }

  input {
    @apply mt-2 w-full rounded-xl border-2 p-2 outline-none;
  }

  input:active,
  input:focus {
    @apply border-violet;
  }

  button[type="submit"],
  button {
    @apply w-full rounded-xl bg-violet py-5 text-white;
  }

  button[type="submit"]:hover,
  button:hover {
    @apply bg-mamba duration-300 ease-out;
  }

  .disapear {
    @apply hidden;
  }
}
