@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: spaceGrotesk;
    src: url(../../assets/font/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

@layer base {
    html {
        font-family: spaceGrotesk;
    }
}

@layer components {
    label {
        @apply text-body font-bold uppercase text-violet;
    }

    input {
        @apply mt-2 w-full rounded-xl border-2 border-mischka p-2 outline-none;
    }

    input:active,
    input:focus {
        @apply border-violet;
    }

    button[type="submit"],
    button {
        @apply w-full rounded-xl bg-violet py-5 text-white;
    }

    button[type="submit"]:hover,
    button:hover {
        @apply bg-mamba duration-300 ease-out;
    }

    .disapear {
        @apply hidden;
    }
}
